body {
  color: white;
}

button {
  padding: 10px;
}

.container-app {
  min-height: 500px;
  border: 2px solid chartreuse;
  max-width: 500px;
  border-radius: 15px;
  margin: 20px;
  padding: 30px 15px;
}
